@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Caveat&family=Righteous&family=Sarala&family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    font-family: 'Sarala', sans-serif;
    background: linear-gradient(68.15deg, #ffffff 16.62%, #abaad8 85.61%);

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo-image {
    height: 72px;
}

.menu {
    display: flex;
    gap: 38px;
}

.menu-item {
    font-weight: 400;
    font-size: 18px;
    position: relative;
    color: #0004ff;
}

.menu-item:hover {
    text-shadow: 1px 1px 15px #474af5;
}

.menu-item::after {
    content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0%;
  background-color: #0004ff;
  transition: width 0.5s ease;
}
.menu-item:hover::after {
    width: 100%;
}

main {
    padding-top: 100px;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.home-text-tittle {
    font-family: 'Righteous', cursive;
    color: #ffffff;
    font-size: 64px;
    text-shadow: 1px 1px 4px black;
    font-weight: bold;
}

.home-text-subtittle { 
    color: black;
    font-weight: 400;
}

.home-text-button {
    background-color: #0004ff;
    width: 160px;
    height: 67px;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Sarala', sans-serif;
    border: none;
    border-radius: 35px;

}